{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "VPCFlowLogsRoleRetrievalWithABAC",
      "Effect": "Allow",
      "Action": [
        "iam:GetRole"
      ],
      "Resource": "arn:aws:iam::$${account_id}:role/Lab-vpc-flow-log-role",
      "Condition": {
        "StringEquals": {
          "aws:PrincipalTag/Role": "Deploy Role",
          "aws:ResourceTag/Project": "$${aws:PrincipalTag/Project}"
        }
      }
    }
  ]
}